
.vs/memo_/v15/.suo
*.db
.vs/memo_/v15/Browse.VC.opendb
.vs/memo_/v15/ipch/AutoPCH/7e7710d9779704a9/GROUP.ipch
.vs/memo_/v15/ipch/AutoPCH/87bcbf5da8b3ca97/USER.ipch
.vs/memo_/v15/ipch/AutoPCH/f72aa139a0ba9f0f/MEMOMANAGER.ipch
memo_.vcxproj
memo_.vcxproj.filters
x64/Debug/Group.obj
x64/Debug/main.obj
x64/Debug/Memo.obj
x64/Debug/memo_.exe
x64/Debug/memo_.ilk
x64/Debug/memo_.log
x64/Debug/memo_.pdb
x64/Debug/memo_.tlog/CL.command.1.tlog
x64/Debug/memo_.tlog/CL.read.1.tlog
x64/Debug/memo_.tlog/CL.write.1.tlog
x64/Debug/memo_.tlog/link.command.1.tlog
x64/Debug/memo_.tlog/link.read.1.tlog
x64/Debug/memo_.tlog/link.write.1.tlog
x64/Debug/memo_.tlog/memo_.lastbuildstate
x64/Debug/MemoManager.obj
x64/Debug/User.obj
x64/Debug/vc141.idb
x64/Debug/vc141.pdb
